@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);


#cssmenu {
  background: #00bffF;
  width: 100%;
  height: 100px;
    
}
#cssmenu ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding-top: 0;
  line-height: 1;
  display: block;
  
}

#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 30px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  position: relative;
  
}
#cssmenu ul li a:hover {
  color: #333333;
}

#submenus ul {
  position: absolute;
  top: 100px;
  left:330px;
  display: inline-block;
  width: 210px;
  height: 220px;
  margin: 0;
  padding: 0;

  opacity: 0;
  background: #4682b4;

  -webkit-transition: opacity .55s ease .1s;
  -moz-transition: opacity .55s ease .1s;
  -o-transition: opacity .55s ease .1s;
  -ms-transition: opacity .55s ease .1s;
  transition: opacity .55s ease .1s;
    }

#submenus li:hover > ul {opacity: 1;}

#submenus ul li a {
  text-align: center;
  display: inline-block;
  padding: 20px 20px;
  margin: 10px 10px;
  font-size: 17px;
}

#submenus ul.sub2 {
  position: absolute;
  top: 100px;
  left:530px;
  display: inline-block;
  width: 210px;
  height: 220px;
  margin: 0;
  padding: 0;

  opacity: 0;
  background: #4682b4;
}
#submenus.sub2 li:hover > ul {opacity: 1;}

#submenus ul.sub3 {
  position: absolute;
  top: 100px;
  left:700px;
  display: inline-block;
  width: 210px;
  height: 220px;
  margin: 0;
  padding: 0;

  opacity: 0;
  background: #4682b4;
}
#submenus.sub3 li:hover > ul {opacity: 1;}

#submenus ul.sub4 {
  position: absolute;
  top: 100px;
  left:900px;
  display: inline-block;
  width: 210px;
  height: 220px;
  margin: 0;
  padding: 0;

  opacity: 0;
  background: #4682b4;
}
#submenus.sub4 li:hover > ul {opacity: 1;}

#submenus ul.sub5 {
  position: absolute;
  top: 100px;
  left:1180px;
  display: inline-block;
  width: 270px;
  height: 220px;
  margin: 0;
  padding: 0;

  opacity: 0;
  background: #4682b4;
}
#submenus.sub5 li:hover > ul {opacity: 1;}





#main { float: left;
        padding: 10px;
        padding-bottom: 80px;
        margin-left: 45px;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;

        
}

#content {
          float: left;
          width: 65%;
          margin-left: 5px;
          margin-top: 50px;
          padding: 15px;
          font-family: 'Open Sans', sans-serif;
          font-size: 16;
          line-height: 2;
          background: lavender;
          text-transform: none;}

#content_zwei{
          float: left;
          width: 65%;
          margin-left: 5px;
          margin-top: 50px;
          padding: 15px;
          font-family: 'Open Sans', sans-serif;
          font-size: 16;
          line-height: 2;
          background: lavender;
          text-transform: none;}





.pictureMayen {
          float: left;
          width: 800px;
          height: 370px;
          margin-top: 50px;
          margin-left: 5px;

}


#Marginalie {
            float: right;
            width: 30%;
            height: auto;
            margin-right: 15px;
            margin-top: 50px;
            padding: 15px;
            background: ghostwhite;
            text-transform: none;
}

#footer {
        width: 100%;
        height: 180px;
        float: left;
        bottom: 0;
        left: 0;
        background: #00bffF;
        
}

@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }